*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    width:512px;
    border-style:ridge;
    background-image: url(img/background.png);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
}

header{
    padding: 8rem;
    margin: 0;
    background-image: url(img/banner.png);
    background-size: cover;
}

main{
    padding: 5rem;
    text-align: center;
    font-size:large;
}

.title{
    color: white;
}

.group{
    margin: 0.5rem;
    color: white;
}

.download{
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: white;
}

.discord{
    margin: 1rem;
    padding: 1rem;
    color: whitesmoke;
    border-radius: 15px;
    background-color: #5865F2;
}

.demo{
    margin: 0.5rem;
    padding: 3rem;
    text-align: left;
    color: white;
    border-color: #5865F2;
    border-radius: 25px;
    background-color: #5865F2;
}

img{
    margin-top: 1rem;
    border-radius: 10%;
}

.fun{
    margin-top: 1rem;
    text-align: left;
    color: white;
}

p{
    font-size: small;
    margin-top: 0.5rem;
}





