@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    
    width:512px;
    border-style:ridge ;
    background-image: url(img/background.png);
    background-size:cover;
    background-attachment:local;
    background-repeat: no-repeat;
    font-family: "DM Sans", sans-serif;
    font-size:small;
}

header{
    padding: 8rem;
    margin: 0;
    background-image: url(img/banner.png);
    background-size: cover;
}

main{
    padding: 1.5rem;
    text-align: center;
    font-size:large;
}

.title{
    padding: 2rem;
    padding-bottom: 0%;
    margin: 0%;
    margin-bottom: 0%;
    color: white;
    font-family: "Sigmar", sans-serif;
}

.group{
    padding: 3rem;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 2rem;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    text-align: center;
}

.download{
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: white;
}

.discord{
    margin: 1rem;
    padding: 1rem;
    color: whitesmoke;
    border-radius: 15px;
    background-color: #5865F2;
}

.demo{
    margin:1rem;
    margin-top: 3.5rem;
    padding: 10%;
    text-align: left;
    color: white;
    border-color: #5865F2;
    border-radius: 25px;
    background-color: #5865F2;
    position: relative;
}

.logo{
    bottom: 92%;
    left: 50px;
    position: absolute;
}

img{
    margin-top: 1rem;
    border-radius: 10%;
}

.fun{
    margin-top: 1rem;
    text-align: left;
    color: white;
    font-family: "Sigmar", sans-serif;
}

p{
    font-size: small;
    margin-top: 0.5rem;
}





